
# Anything in application/, #
# planning/, and project/examples #
############################
application/*
planning/*
project/examples/*

# misc LaTeX files #
####################
*.aux
*.bbl
*.blg
*.out
*.synctex.gz
*.log
*.nav
*.pdf
*.snm
*.toc
*.vrb


# misc R files #
################
*.Rdata
*.RData
*.rds
*.Rhistory
*.Rapp.history
*.Rproj.user/
*.Rproj

# powerpoint files #
####################
*.pptx
*.doc
*.docx
.Rproj.user

# Any text files, csvs, HTMLs #
###############################
*.txt
*.html
*.csv

# anything called "key" #
#########################
*key*

# anything called "midterm" or "final" #
########################################
*midterm*

# any LibreOffice or Gimp files #
# these are all plot intermediates #
#################################
*.odp
*.xcf

# anything to do with project groups #
######################################
project/group*